<form method="post" action="{{ path('app_categorieproduit_delete', {'nomcategorie': categorieproduit.nomcategorie}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorieproduit.nomcategorie) }}">
    <button class="close-list-item"><a class="delete" ><i class="fa fa-remove"></i></a></button>
</form>
