<form method="post" action="{{ path('app_produit_delete', {'idProd': produit.idProd}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer ce produit?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.idProd) }}">
    <button class="button gray"><i class="fa fa-trash-o"></i> Delete</button>

</form>
