{{ form_start(form) }}
    {{ form_widget(form.message) }}
    <button class="btn send-btn btn-lg"  style="margin-left: 15px;margin-top: -18px">  <i class="fab fa-telegram-plane"></i></button>
{{ form_end(form) }}
