{% extends 'base-back.html.twig' %}

<div class="row with-forms margin-top-0">

    <div class="qtyButtons">
        <div class="qtyTitle">Quantité </div>
        <div class="qtyDec" id="btnmoin" onclick="moins()"></div><input type="number" name="qtyInput" id="txt" value="1"><div class="qtyInc" id="btnplus" onclick="plus()"></div>
    </div>
</div>