<form method="post" action="{{ path('app_user_delete', {'cin': user.cin}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.cin) }}">
    <button class="btn">Delete</button>
</form>
